$primary-color: rgb(122, 185, 72);
$secondary-color: rgb(224, 196, 72);
$light-color: #f4f4f4;
$dark-color: #333;
$main-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

.app {
  .app-header {
    display: flex;
    height: 70px;
    background-color: $primary-color;
    color: $secondary-color;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  h1 {
    cursor: pointer;
    font-size: 32px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 0 10px;

    a {
      text-decoration: none;
      color: $light-color;
      font-size: 20px;
      font-weight: 600;
      padding: 0 10px;

      &:hover {
        border-bottom: 2px solid $light-color;
      }
    }
  }

  table,
  form {
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin: 5px auto;
    box-shadow: $main-box-shadow;
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }

  table {
    td,
    th {
      width: auto;
      text-align: start;
    }
  }

  h2,
  form {
    display: flex;

    input {
      border-radius: 7px;
      padding: 2px 5px;
      width: 300px;
    }
  }

  h2 {
    justify-content: center;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  span {
    color: red;
  }
}

.btn-primary {
  width: 200px;
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  background-color: $primary-color;
  color: $light-color;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.student-card {
  box-shadow: $main-box-shadow;
  width: 240px;
  margin: 20px auto;
}

.app-header {
  text-align: center;
  color: $primary-color;
  font-weight: 900;
  font-size: 28px;
}
